<div class="motuloil" style="padding-top:250px;">

  <h3> {{title}} </h3>

  <div class="container" id="300v">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/mich100_10cityprotubeless.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">100/10 City Pro Tyres (Tubeless)</p>
              <p class="card-text">
                  </p>
                            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1310</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                <small ><b></b></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/michcityprotyretuberear.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">5*18 City Pro Tyre with Tube Rear</p>
  
              <p class="card-text">
                  
               </p>    
  
                 <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1610</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/90-17siracstreetreartubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">100/90-17 Sirac Street Rear(Tubeless)</p>
                
              <p class="card-text">
                
              </p>  <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2120</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/90-18siracstreetreartyretube.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">100/90-18 Sirac Street Rear Tyre with Tube</p>
              <p class="card-text">
                        </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2200</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/300-17siracstreetreartubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">300*17 Sirac Street Rear (Tubeless)</p>
                <p class="card-text">
                          </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Rs.1770</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/citypro300-17tubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">300*17 City Pro (Tubeless)</p>
                  <p class="card-text">
                            </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Rs.1810</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="../../assets/img/detailproduct/275-17cityprofronttyretubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text">275-17 City Pro Front Tyre (Tubeless)</p>
                    <p class="card-text">
                              </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Rs.1610</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="../../assets/img/detailproduct/300-18cityprotyretubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">300-18 City Pro Tyre (Tubeless)</p>
                      <p class="card-text">
                                </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary">Rs.1740</button>
                          <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="../../assets/img/detailproduct/54pcityproreartyretubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                      <div class="card-body">
                          <p class="card-text">80/100-18 54P City Pro Tyre Rear (Tubeless)</p>
                        <p class="card-text">
                                  </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">Rs.1820</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="../../assets/img/detailproduct/47pcityprofronttyretubeless.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">80/100-18 47P City Pro Front Tyre (Tubeless)</p>
                          <p class="card-text">
                                    </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-primary">Rs.1755</button>
                              <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                    
                  <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="../../assets/img/detailproduct/50p30017.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">80/100-17 53P City Pro Rear Tyre (Tubeless)</p>
                          <p class="card-text">
                                    </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-primary">Rs.1800</button>
                              <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
      
                    
                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="../../assets/img/detailproduct/53100-1090.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                          <div class="card-body">
                              <p class="card-text">90/100-10 53 City Pro Tyre (Tubeless)</p>
                            <p class="card-text">
                                      </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Rs.1310</button>
                                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
        

                      <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/35010cityprofronttyretube.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">350*10 City Pro Front Tyre with Tube</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1341</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/2751848prfsiracstreetreartyrewithtube.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">275*18 48P RF Sirac Street Rear Tyre with Tube.</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1670</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/front42p.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">275*18 42P Sirac Street Front Tyre wiht Tube </p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1570</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/52p30018.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">300-18 52P City Pro Rear Tyre with Tube </p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1840</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/50p30017.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">300-17 50P Sirac Street Rear Tyre with Tube </p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1650</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/41p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">275-17 41P Sirac Street Front Tyre with Tube</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1525</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/66ptyre.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">140/70-17 66P City Pro Rear (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.3125</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/66psporty.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">140/70-17 66P Pilot Sporty Rear (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.3310</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/55p9017.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">100/90-17 55P Sirac Street Rear Tyre with Tube</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1930</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/57p8017citypro.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">100/80-17 57P City Pro Rear Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2140</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/41p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">120/80-17 67P City Pro (Tubeless) Tyre</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2380</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/12067p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">120/80-17 67P Pilot Sporty Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2690</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
       

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/12061p.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">100/90-18 67P Sirac Street Rear (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2580</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/10061psirac.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">100/90-18 61p Sirac Street Rear (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2780</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/49p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">90/90-17 49P Pilot Sporty Front Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1680</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/52p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">300 18 52P Sirac Street Rear Tyre with Tube</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1590</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/56p118.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">100/90 118 56 City Pro Rear Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2240</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/110801757p.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">110/80-17 57P City Pro Rear Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.2380</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col-md-3">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../../assets/img/detailproduct/901254.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">90/90-12 54P City Pro Tyre (Tubeless)</p>
                              <p class="card-text">
                                        </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-primary">Rs.1380</button>
                                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
       
      </div>
    </div>

  

<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-12" style="padding-top:10px;padding-bottom:10px">
          <div class="footer-title text-xs-center">
        </div>
        </div>
      <br>
      <br>
      </div>
    </div>
  </div>
<div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Address</h4>
          <address>
                <ul class="list-unstyled">
                  <li>
                    <b>Primary Address</b>
                    No.2/1561 <br>
                    Mahalakshmi Nagar, 8th street <br>
                    Madipakkam <br>
                    Chennai - 600091

                  </li>
                  <li>
                    <br>
                      <b>Secondary Address</b>
                    No.148/1 <br>
                   First floor, Virthumapattu <br>
                   Near Indian Oil petrol bunk, Mottur<br>
                    Katpadi - 632006 <br>
                    

                  </li>
                  <li>
                    <br>
                    
                   Tel: <a tel="9962899266">+91 9962899266</a> 
                   <br>&nbsp; &nbsp; &nbsp; <a tel="9962799266">+91 9962799266</a>
                   <br>&nbsp; &nbsp; &nbsp; <a tel="8939999266">+91 8939999266</a>
                   </li>
                </ul>
              </address>
        </div>
      </div>
      <div class="col">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Services</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Amazon Seller</a></li>
            <li><a href="#">Product Information</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
    
      
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p style="color:#030303"><b>&copy; Copyright 2019 - Aarudra.  All rights reserved. </b></p>
        </div>
      </div>
    </div>
    </div>
</footer>