<div class="motuloil">

    <h3> {{title}} </h3>
  
    <div class="row">
  
  
  <div class="col">
      <div class="card">
  
          <!--Card image-->
          <div class="view">
            <img src="../../assets/img/detailproduct/mich1.jpg" width="100" height="300" class="card-img-top"
              alt="photo">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Michelin City Pro Tyre Tubeless 90/100/10</h4>
            <!--Text-->
            <p class="card-text">MICHELIN City Pro, a robust tyre will offer daily commuters with a comfortable in-city ride experience" MICHELIN City Pro is the latest generation of Michelin scooter and motorcycle tyres, especially designed for intensive urban use.</p>
          </div>
    
        </div>
      </div>
  
      <div class="col">
          <div class="card">
      
              <!--Card image-->
              <div class="view">
                <img src="../../assets/img/detailproduct/mich2.PNG" width="100" height="300" class="card-img-top"
                  alt="photo">
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!--Card content-->
              <div class="card-body" style="padding-bottom: 40px;">
                <!--Title-->
                <h4 class="card-title">
                    Michelin SIRAC STREET Tubeless 100/90-18
                  </h4>
                <!--Text-->
                <p class="card-text">
                    MICHELIN SIRAC STREET is a requires tube nylon rear two wheeler tyre. SIRAC STREET is suitable for bikes with tyre size 100/90 18. </p>
              </div>
        
            </div>
          </div>
          <div class="col">
              <div class="card">
          
                  <!--Card image-->
                  <div class="view">
                    <img src="../../assets/img/detailproduct/mich3.jpeg" width="100" height="300" class="card-img-top"
                      alt="photo">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
            
                  <!--Card content-->
                  <div class="card-body" style="padding-bottom: 45px;">
                    <!--Title-->
                    <h4 class="card-title">Michelin City Pro 3.50-10

                      </h4>
                    <!--Text-->
                    <p class="card-text">Michelin City Pro 3.50 - 10 Tube-Type Scooter Tyre,Front or Rear.The Speed rating is upto 180Km/hr.It has got Longer tyre life,excellent handling,increased grip for unmatched safety.




                      </p>
                  </div>
            
                </div>
              </div>
            
  
  </div>
  
  </div>
  
  
    
  

<footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12" style="padding-top:10px;padding-bottom:10px">
            <div class="footer-title text-xs-center">
            <h4 class="p-b-1" style="color: #030301">Aarudra</h4>
          </div>
          </div>
        <br>
        <br>
        </div>
      </div>
    </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      <b>Primary Address</b>
                      No.2/1561 <br>
                      Mahalakshmi Nagar, 8th street <br>
                      Madipakkam <br>
                      Chennai - 600091
  
                    </li>
                    <li>
                      <br>
                        <b>Secondary Address</b>
                      No.148/1 <br>
                     First floor, Virthumapattu <br>
                     Near Indian Oil petrol bunk, Mottur<br>
                      Katpadi - 632006 <br>
                      
  
                    </li>
                    <li>
                      <br>
                      
                     Tel: <a tel="9962899266">+91 9962899266</a> 
                     <br>&nbsp; &nbsp; &nbsp; <a tel="9962799266">+91 9962799266</a>
                     <br>&nbsp; &nbsp; &nbsp; <a tel="8939999266">+91 8939999266</a>
                     </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Services</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Amazon Seller</a></li>
              <li><a href="#">Product Information</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      
        
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p style="color:#030303"><b>&copy; Copyright 2019 - Aarudra.  All rights reserved. </b></p>
          </div>
        </div>
      </div>
      </div>
  </footer>