<div class="motuloil">


    <div id="ProductFeaturing" style="padding-bottom: 200px;" class="animated  fadeIn delay-0.5s">
        <h3> CATEGORIES </h3>
        <hr>
        <div style="padding-top:40px" class="container animated  fadeIn delay-0.5s">
        <div class="row" >
          <div  class="col-md-4">
            <a href="/motulOil#300v">
            <div  class="catcard catcard-1">
              <h3>300V 4T</h3>
              <p></p>
            </div>
          </a>
          </div>
          <div  class="col-md-4">
            <a href="/motulOil#7100v">
            <div class="catcard catcard-2">
              <h3>7100 4T</h3>
              <p></p>
            </div>
          </a>
          </div>
          <div  class="col-md-4">
            <a href="/motulOil#5100v">
            <div class="catcard catcard-3">
              <h3>5100 4T</h3>
              <p></p>
            </div>
          </a>
          </div>
        </div>
          <div class="row" >
          <div  class="col-md-4">
              <a href="/motulOil#3100v">
              <div class="catcard catcard-4">
                <h3>3100 4T</h3>
                <p></p>
              </div>
            </a>
            </div>
            <div  class="col-md-4">
              <a href="/motulOilExtension#3000v">
              <div class="catcard catcard-5">
                <h3>3000 4T</h3>
                <p></p>
              </div>
            </a>
            </div>

            <div  class="col-md-4">
                <a href="/motulOilExtension#coolants">
                <div class="catcard catcard-6">
                  <h3>Coolant Oil</h3>
                  <p></p>
                </div>
              </a>
              </div>
              </div>
              <div class="row" >
              <div  class="col-md-4">
                  <a href="/motulOilExtension#grease">
                  <div class="catcard catcard-7">
                    <h3>Greases</h3>
                    <p></p>
                  </div>
                </a>
                </div>
        </div>
        </div>
        </div>


<h2 id="3000v" style="text-align: center">3000 4T</h2>
<br>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/300015w502.5.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">3000 3L/2.5L 4T 15W-50</p>
            <p class="card-text" style="padding-bottom:20px">
                <b>ENGINE LUBRICANTS
                  </b>
                <br>
                HC-TECH® lubricant for 4-stroke motorcycle engine.  
                </p>
                          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              <small ><b></b></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/30001.210w30.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">3000 1.2L 4T 10W-30</p>

            <p class="card-text">
              <b>
                  ENGINE LUBRICANTS
              </b>
              <br>
              4-Stroke lubricant. Engine and gearbox protection.Recommended  Improved shear resistance.    
             </p>    

               <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/30001.220w40.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">3000 1.2L 4T 20W-40</p>
              
            <p class="card-text">
              <b> ENGINE LUBRICANTS</b>
              <br>
              Superior motorcycle engine oil with HC-TECH.Recommended for use in motorcycles.    </p>  <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/30001.210w30.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">3000 1L 4T 10W-30</p>
            <p class="card-text">
              <b>                  ENGINE LUBRICANTS
                </b>
              <br>
              4-Stroke lubricant 1Litre. Engine and gearbox protection.Recommended  Improved shear resistance.    
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/3000120w40.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">3000 1L 4T 20W-40</p>
              <p class="card-text">
                <b>                  ENGINE LUBRICANTS
                  </b>
                <br>
                Superior motorcycle engine oil with HC-TECH. Recommended for use in motorcycles     
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/3000900ml10w30.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">3000 900ml 4T 10W-30</p>
                <p class="card-text">
                  <b>                  ENGINE LUBRICANTS
                    </b>
                  <br>
                  Superior motorcycle engine oil with HC-TECH. Recommended Motorcycle lubricant.    
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/3000900ml20w40.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">3000 900ml 4T 20W-40</p>
                  <p class="card-text">
                    <b>                  ENGINE LUBRICANTS
                      </b>
                    <br>
                    Superior motorcycle engine oil with HC-TECH. Recommended Motorcycle lubricant.    
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>


  
<h2 id="coolants" style="text-align: center">Coolant Oil</h2>
<br>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/inugel_coolantoil1L.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">INUGEL EXPERT 1L
              </p>
            <p class="card-text" style="padding-bottom:20px">
                <b>COOLANTS AND ANTIFREEZES

                  </b>
                <br>
                Protection (-37°C / -35°F). Ready-to-use coolant. The Hybrid technology of Inugel Expert improves heat transfer for optimal engine performance.                </p>
                          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              <small ><b></b></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/motocool.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">MOTOCOOL EXPERT 1L
                </p>

            <p class="card-text">
              <b>
                  COOLANTS AND ANTIFREEZES
                </b>
              <br>
              Ready to use coolant (do not dilute) developed for all types of motorcycles: road, off road, quads Nitrite free, amine free, phosphate free and for optimal performance.             </p>    

               <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/auto-cool-longlife-ultra1l.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">AutoCool Longlife Ultra 1L</p>
              
            <p class="card-text">
              <b>COOLANTS</b>
              <br>
              Recommended for Passenger Cars, Trucks, Construction Equipment, Stationary Engines. Based on Motul’s unique AOT Technology. Protection up to 75,000 kms.Made using Organic Additives</p>  <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/auto-cool-longlife-ultra500ml.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">AutoCool Longlife Ultra 500ml</p>
            <p class="card-text">
              <b>                  COOLANTS
                </b>
              <br>
              Recommended for Passenger Cars, Trucks, Construction Equipment, Stationary Engines. Based on Motul’s unique AOT Technology. Protection up to 37,000 kms.
                </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/chain400lube.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Chain Lube Road 400ml</p>
              <p class="card-text">
                <b>                  Eliminates the old residue
                  </b>
                <br>
                This Motul chain lube helps to provide excellent and improved performance.                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/chainlube150.jpeg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">Chain Lube Road 150ml</p>
                <p class="card-text">
                  <b>                  Eliminates the old residue
                    </b>
                  <br>
                  This Motul chain lube 150ml helps to provide excellent and improved performance.             
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/tyrerepair300ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Tyre Repair 300ML</p>
                  <p class="card-text">
                    <b>                 Tyre Repair Liquid
                      </b>
                    <br>
                    Repairs and reinflates tyres (with or without tubes) instantly and conveniently. 
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="../../assets/img/detailproduct/e5shine.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text">E5 Shine and Go</p>
                    <p class="card-text">
                      <b>                 Tyre Repair Liquid
                        </b>
                      <br>
                      Motul 103000 E5 Shine and Go (400 ml).Very good thermal resistance and stability.   
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="../../assets/img/detailproduct/helmetinterior250.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Helmet Interior Clean 250ML</p>
                      <p class="card-text">
                        <b>                Cleaner Spray
                          </b>
                        <br>
                        Cleaning interior part of helmet and also Disinfects and removes smells.Clean helmet.
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="../../assets/img/detailproduct/helmetvisor250ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                      <div class="card-body">
                          <p class="card-text">Helmet and Visor Cleaner  250ML</p>
                        <p class="card-text">
                          <b>   Cleaner Spray
                            </b>
                          <br>
                          It quickly and gently cleans the surface of the helmet and visor.Smooth ride and good shine.                     </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="../../assets/img/detailproduct/chainclean400ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Chain Clean 400ML</p>
                          <p class="card-text">
                            <b>   Cleaner Spray
                              </b>
                            <br>
                            It quickly and gently cleans the surface of the chain.  Increases chain durability.Smooth ride and good performance.
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="../../assets/img/detailproduct/chainclean150ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                          <div class="card-body">
                              <p class="card-text">Chain Clean 150ML</p>
                            <p class="card-text">
                              <b>   Cleaner Spray
                                </b>
                              <br>
                              It quickly and gently cleans the surface of the chain.  Increases chain durability.Smooth ride and good performance
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>

    </div>
  </div>






  
<h2 id="grease" style="text-align: center">Greases</h2>
<br>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/greasemultiserviceap3.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">MULTI Service AP3 1kg/500gms/200gms/100gms
              </p>
            <p class="card-text" style="padding-bottom:20px">
                <b>Multipurpose Grease

                  </b>
                <br>
                Greasing of roller bearings, articulations, bearings, hubs, universal joints, ball joint, cables.      
                </p>                    <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              <small ><b></b></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/longlifegrease.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">LONG LIFE GREASE 1kg/500gms/200gms
                </p>

            <p class="card-text">
              <b>
                 GREASE
                </b>
              <br>
              Long Life Grease Is Specially Developed For Wheel Bearing Applications Especially In Trucks/Transport Vehicles.
              </p>
               <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/gearoil80w90.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">ALL Gear Oil 1L 80w90</p>
              
            <p class="card-text">
              <b>GEAR OIL</b>
              <br>
              Protection against rust and corrosion ensuring longer and trouble free operation.Lubricant specialist for more than 150 years
            </p>  
              
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/gearoil85w140.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">ALL Gear Oil 1L 85w140</p>
            <p class="card-text">
              <b>                 GEAR OIL
                </b>
              <br>
              Oil film stability at high temperature. Very high lubricating power which decreases friction and wear. oads, shocks, high temperatures. 
                            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/chain400lube.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Chain Lube Road 400ml</p>
              <p class="card-text">
                <b>                  Eliminates the old residue
                  </b>
                <br>
                This Motul chain lube helps to provide excellent and improved performance.                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/chainlube150.jpeg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">Chain Lube Road 150ml</p>
                <p class="card-text">
                  <b>                  Eliminates the old residue
                    </b>
                  <br>
                  This Motul chain lube 150ml helps to provide excellent and improved performance.             
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/tyrerepair300ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Tyre Repair 300ML</p>
                  <p class="card-text">
                    <b>                 Tyre Repair Liquid
                      </b>
                    <br>
                    Repairs and reinflates tyres (with or without tubes) instantly and conveniently. 
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="../../assets/img/detailproduct/e5shine.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text">E5 Shine and Go</p>
                    <p class="card-text">
                      <b>                 Tyre Repair Liquid
                        </b>
                      <br>
                      Motul 103000 E5 Shine and Go (400 ml).Very good thermal resistance and stability.   
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="../../assets/img/detailproduct/helmetinterior250.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Helmet Interior Clean 250ML</p>
                      <p class="card-text">
                        <b>                Cleaner Spray
                          </b>
                        <br>
                        Cleaning interior part of helmet and also Disinfects and removes smells.
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="../../assets/img/detailproduct/helmetvisor250ml.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                      <div class="card-body">
                          <p class="card-text">Helmet and Visor Cleaner  250ML</p>
                        <p class="card-text">
                          <b>   Cleaner Spray
                            </b>
                          <br>
                          It quickly and gently cleans the surface of the helmet and visor.                      </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

    </div>
  </div>




<footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12" style="padding-top:10px;padding-bottom:10px">
            <div class="footer-title text-xs-center">
          </div>
          </div>
        <br>
        <br>
        </div>
      </div>
    </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      <b>Primary Address</b>
                      No.2/1561 <br>
                      Mahalakshmi Nagar, 8th street <br>
                      Madipakkam <br>
                      Chennai - 600091
  
                    </li>
                    <li>
                      <br>
                        <b>primary Address</b>
                      No.148/1 <br>
                     First floor, Virthumapattu <br>
                     Near Indian Oil petrol bunk, Mottur<br>
                      Katpadi - 632006 <br>
                      
  
                    </li>
                    <li>
                      <br>
                      
                     Tel: <a tel="9962899266">+91 9962899266</a> 
                     <br>&nbsp; &nbsp; &nbsp; <a tel="9962799266">+91 9962799266</a>
                     <br>&nbsp; &nbsp; &nbsp; <a tel="8939999266">+91 8939999266</a>
                     </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Services</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Amazon Seller</a></li>
              <li><a href="#">Product Information</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      
        
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p style="color:#030303"><b>&copy; Copyright 2019 - Aarudra.  All rights reserved. </b></p>
          </div>
        </div>
      </div>
      </div>
  </footer>