
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
  <nav id="aarudraHeader" class="navbar fixed-top shadow p-1 navbar-expand-lg navbar-aarudra navbar-light bg-light">
      <a class="navbar-brand navbar-link-aarudra" href="#"><img src="../assets/img/aarudralogo.PNG" class="img-responsive" width="400" height="50" alt=""></a>
      <button class="navbar-toggler" style="background-color: antiquewhite" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse main-navbar-content" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link navbar-link-aarudra" href="/#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-aarudra" href="/#About">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-aarudra" href="/#Product">PRODUCTS</a>
          </li>
          <li class="nav-item">
              <a class="nav-link navbar-link-aarudra" href=""><b>SHOP NOW</b></a>
            </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-aarudra" href="/#OurTeam">TEAM</a>
          </li>
          <li class="nav-item">
              <a class="nav-link navbar-link-aarudra" href="/#Contact">CONTACT US</a>
            </li>
           
        </ul>
      </div>
    </nav>
  
<router-outlet></router-outlet>
