<div class="motuloil" >

  <h3> {{title}} </h3>

  <div id="ProductFeaturing" style="padding-bottom: 200px;" class="animated  fadeIn delay-0.5s">
      <h3> CATEGORIES </h3>
      <hr>
      <div style="padding-top:40px" class="container animated  fadeIn delay-0.5s">
      <div class="row" >
        <div  class="col-md-4">
          <a href="/motulOil#300v">
          <div  class="catcard catcard-1">
            <h3>300V 4T</h3>
            <p></p>
          </div>
        </a>
        </div>
        <div  class="col-md-4">
          <a href="/motulOil#7100v">
          <div class="catcard catcard-2">
            <h3>7100 4T</h3>
            <p></p>
          </div>
        </a>
        </div>
        <div  class="col-md-4">
          <a href="/motulOil#5100v">
          <div class="catcard catcard-3">
            <h3>5100 4T</h3>
            <p></p>
          </div>
        </a>
        </div>
      </div>
        <div class="row" >
        <div  class="col-md-4">
            <a href="/motulOil#3100v">
            <div class="catcard catcard-4">
              <h3>3100 4T</h3>
              <p></p>
            </div>
          </a>
          </div>
          <div  class="col-md-4">
            <a href="/motulOilExtension#3000v">
            <div class="catcard catcard-5">
              <h3>3000 4T</h3>
              <p></p>
            </div>
          </a>
          </div>

          <div  class="col-md-4">
              <a href="/motulOilExtension#coolants">
              <div class="catcard catcard-6">
                <h3>Coolant Oil</h3>
                <p></p>
              </div>
            </a>
            </div>
            <div  class="col-md-4">
                <a href="/motulOilExtension#grease">
                <div class="catcard catcard-7">
                  <h3>Greases</h3>
                  <p></p>
                </div>
              </a>
              </div>
      </div>
      </div>
      </div>

<h2 style="text-align: center">300V 4T</h2>
<br>
  <div class="container" id="300v">

    <div class="row">
      <div class="col">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/300v5w30.png" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">300V 1L 4T FACTORY LINE 5W30</p>
            <p class="card-text" style="padding-bottom:20px">
                <b>RACING - FACTORY LINE</b>
                <br>
                100% synthetic racing lubricant based on Double Ester-Technology.   
                </p>
                          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              <small ><b></b></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/300v10w40.PNG"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">300V 1L 4T FACTORY LINE 10W40</p>

            <p class="card-text">
              <b>
                  RACING - FACTORY LINE
              </b>
              <br>
              100% synthetic racing lubricant based on Motul proprietary "Double Ester-Technology".   
             </p>    

               <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/300v10w50.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">300V 1L 4T FACTORY LINE 10W50</p>
              
            <p class="card-text">
              <b> RACING - FACTORY LINE</b>
              <br>
              High performance lubricant developed and specially designed to offer maximum engine power.   
            </p>  <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/img/detailproduct/300v15w50.PNG" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <div class="card-body">
              <p class="card-text">300V 1L FACTORY LINE ROAD RACING 15W50</p>
            <p class="card-text">
              <b>RACING - FACTORY LINE</b>
              <br>
              100% synthetic 4-Stroke motorcycle racing lubricant developed for Factory Teams.          </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
     
     
     
    </div>
  </div>






  <h2 style="text-align: center">7100 4T</h2>
  <br>
    <div class="container" id="7100v">
  
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/710010w40.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">7100 1.5L 4T 10W-40
                </p>
              <p class="card-text">
                  <b>ENGINE LUBRICANTS</b>
                  <br>
                  100% synthetic 4-Stroke lubricant – Ester Technology – Meets bike manufacturer specifications.
   </p>              
     <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/710010w50.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">7100 1.5L 4T 10W-50
                  </p>
  
              <p class="card-text">
                <b>
                    ENGINE LUBRICANTS
                </b>
                <br>
                100% synthetic 4-Stroke lubricant – Ester Technology – Meets bike manufacturer specifications.
                </p>

                             <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="../../assets/img/detailproduct/710020w50.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body" >
                <p class="card-text" >7100 1.5L 4T 20W-50</p>
                
              <p class="card-text">
                <b>ENGINE LUBRICANTS</b>
                <br>
                100% synthetic lubricant based on Ester Technology. 20W50 viscosity grade is recommended for big bore engines.
                </p>    
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" >
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
  
       

        
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/71005w40.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">7100 1L 4T 5W-40
                    </p>
                <p class="card-text">
                  <b>ENGINE LUBRICANTS</b>
                  <br>
                  100% Synthetic Ester based motorcycle lubricant for high performance bikes, sports bikes, street & road bikes.     </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
       

          
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/710010w40.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">7100 1L 4T 10W-40
                  </p>
                <p class="card-text">
                    <b>ENGINE LUBRICANTS</b>
                    <br>
                    100% synthetic 4-Stroke lubricant – Ester Technology – Meets bike manufacturer specifications. </p>
  
                     <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/710010w50.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">7100 1L 4T 10W-50
                    </p>
    
                <p class="card-text">
                  <b>
                      ENGINE LUBRICANTS
                  </b>
                  <br>
                  100% synthetic 4-Stroke lubricant – Ester Technology – Meets bike manufacturer specifications.
                  </p>              <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/710020w50.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">7100 1L 4T 20W-50</p>
                  
                <p class="card-text">
                  <b>ENGINE LUBRICANTS</b>
                  <br>
                  100% synthetic lubricant based on Ester Technology. 20W50 viscosity grade is recommended for big bore engines.
                        <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
       
       
      </div>
    </div>
  



    <h2 id="5100v" style="text-align: center">5100 4T</h2>
    <br>
      <div class="container" >
    
        <div class="row">
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/510010w30.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">5100 1L 4T 10W-30  
                                  </p>
                <p class="card-text">
                    <b>ENGINE LUBRICANTS</b>
                    <br>
                    Technosynthese® 4-Stroke lubricant – Ester technology - Meets bike manufacturer specifications.
                    </p>
                                         <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/510010w40.PNG" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body" >
                  <p class="card-text">5100 1L 4T 10W-40
                    </p>
    
                <p class="card-text"  style="padding-bottom:20px">
                  <b>
                      ENGINE LUBRICANTS
                  </b>
                  <br>
                  Technosynthese® 4-Stroke lubricant – Ester technology - Improved shear resistance. </p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
            
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../assets/img/detailproduct/510010w50.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body" >
                  <p class="card-text" style="padding-bottom:20px" >5100 1L 4T 10W-50
                    </p>
                  
                <p class="card-text" >
                  <b>ENGINE LUBRICANTS</b>
                  <br>
                  Technosynthese® 4-Stroke lubricant – Ester technology - Improved shear resistance.</p>

                  <div class="btn-group" >
                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                  </div>
                  
                </div>
              </div>
            </div>
         
    
         
  
          
          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/71005w40.PNG" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">5100 1L 4T 15W-50

                      </p>
                  <p class="card-text">
                    <b>ENGINE LUBRICANTS</b>
                    <br>
                    Technosynthese® 4-Stroke lubricant – Ester technology - Improved shear resistance. High temperature resistance.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
         
  
            
         
         
        </div>
      </div>



      <h2 id="3100v" style="text-align: center">3100 4T</h2>
      <br>
        <div class="container" >
      
          <div class="row">
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/310010w40.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">3100 1.15L 4T 10W-40  
                                    </p>
                  <p class="card-text">
                      <b>ENGINE LUBRICANTS</b>
                      <br>
                      Application engine lubricants engine type for 4-stroke, techno synthese product range motorcycle viscosity10w40.

                      <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/310020w50.jpg" height="250px"  data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">3100 1.15L 4T 20W-50
                      </p>
      
                  <p class="card-text">
                    <b>
                        ENGINE LUBRICANTS
                    </b>
                    <br>
                    Motul 3100 Gold Technosynthese 20W50 Semi Synthetic Engine Oil (1.15 L)
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../assets/img/detailproduct/310010w30.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body" >
                    <p class="card-text" >3100 1L 4T 10W-30
                      </p>
                    
                  <p class="card-text" >
                    <b>ENGINE LUBRICANTS</b>
                    <br>
                    Motul 3100 4T 10W30 Engine Oil (1 L).

  
                    <div class="btn-group" >
                      <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                    </div>
                    
                  </div>
                </div>
              </div>
           
      
           
    
            
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="../../assets/img/detailproduct/310010w401.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text">3100 1L 4T 10W-40
  
                        </p>
                    <p class="card-text">
                      <b>ENGINE LUBRICANTS</b>
                      <br>
                      Motul 3100 4T 10W40 Engine Oil (1 L).
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="../../assets/img/detailproduct/310020w501.jpg" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">3100 1L 4T 20W-50
    
                          </p>
                      <p class="card-text">
                        <b>ENGINE LUBRICANTS</b>
                        <br>
                        Motul 3100 4T 20W50 Engine Oil (1 L).
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
             
    
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="../../assets/img/detailproduct/310090010w30.png" height="250px" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                      <div class="card-body">
                          <p class="card-text">3100 900ml 4T 10W-30
      
                            </p>
                        <p class="card-text">
                          <b>ENGINE LUBRICANTS</b>
                          <br>
                          Motul 3100 4T 10W30 Engine Oil (900 ml).
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Buy</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
           
           
          </div>
        </div>
  





</div>
  


<footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12" style="padding-top:10px;padding-bottom:10px">
            <div class="footer-title text-xs-center">
          </div>
          </div>
        <br>
        <br>
        </div>
      </div>
    </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      <b>Primary Address</b>
                      No.2/1561 <br>
                      Mahalakshmi Nagar, 8th street <br>
                      Madipakkam <br>
                      Chennai - 600091
  
                    </li>
                    <li>
                      <br>
                        <b>primary Address</b>
                      No.148/1 <br>
                     First floor, Virthumapattu <br>
                     Near Indian Oil petrol bunk, Mottur<br>
                      Katpadi - 632006 <br>
                      
  
                    </li>
                    <li>
                      <br>
                      
                     Tel: <a tel="9962899266">+91 9962899266</a> 
                     <br>&nbsp; &nbsp; &nbsp; <a tel="9962799266">+91 9962799266</a>
                     <br>&nbsp; &nbsp; &nbsp; <a tel="8939999266">+91 8939999266</a>
                     </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Services</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Amazon Seller</a></li>
              <li><a href="#">Product Information</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      
        
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p style="color:#030303"><b>&copy; Copyright 2019 - Aarudra.  All rights reserved. </b></p>
          </div>
        </div>
      </div>
      </div>
  </footer>